# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/StoryCreator/Win32
/StoryCreator/*.local
/StoryCreator/__astcache
/StoryCreator/__history
/StoryCreator/__recovery
/Engine/Win32
/Engine/*.local
/Engine/__astcache
/Engine/__history
/Engine/__recovery
